body {
    font-family: Liberation Sans;
    background-color: #fff;
}
.grid-container {
    display:grid;
    grid-template-rows: 5vh 82vh 5vh 5vh;
    height: 95vh;
}
.navbar {
    background-color:blue;
    grid-row: 1/2;
}
.search-form{
    background-color:#fff;
    grid-row: 2/3;

}
.country {
    background-color: yellow;
    grid-row:3/4;
}
.info{
    background-color: green;
    grid-row:4/5;
}
.logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 8em;
}
.input-field{
    display:block;
    margin-left:auto;
    margin-right: auto;
}
.bar {
    padding-left: 25px;
    border-width: 1px;
    width: 40%;
    border-radius: 20px;
    height: 2.5em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2em;
}
.button{
    padding: 6px 15px;
    border-style:solid;
    border-radius: 3px;
    border-width:1px;
    border-color: #fff;
    display: block;
    margin: 1em 1em 1em 1em;
    outline:0;
}
.button:hover {
    padding: 6px 15px;
    border-style:solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: lightgrey;
    background-color: #fff;
    outline: 0;
}
.buttons{

    display:flex;
    flex-direction: row;
    justify-content: center;
}
